client/src/oxygen/framework/validation/Grammar.rng

<?xml version="1.0" encoding="UTF-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
  <define name="grammatische_Beschreibung">
    <a:documentation/>
    <!-- wortklassenspezifische Grammatik-Gruppe auf Artikel-Ebene -->
    <a:documentation/>
    <element name="Grammatik">
      <optional>
        <ref name="Metadaten.allgemein"/>
      </optional>
      <optional>
        <attribute name="Originaltext">
          <data type="token" datatypeLibrary=""/>
        </attribute>
      </optional>
      <!-- for Duden99 compatibility -->
      <choice>
        <ref name="grammatische_Beschreibung_Nomen"/>
        <ref name="grammatische_Beschreibung_MWA"/>
        <ref name="grammatische_Beschreibung_Verb"/>
        <ref name="grammatische_Beschreibung_Adjektiv_Adverb"/>
        <ref name="grammatische_Beschreibung_Präposition"/>
        <ref name="grammatische_Beschreibung_Pronomen"/>
        <ref name="grammatische_Beschreibung_Pronominaladverb"/>
        <ref name="grammatische_Beschreibung_Artikel"/>
        <ref name="grammatische_Beschreibung_Konjunktion"/>
        <ref name="grammatische_Beschreibung_Zahlwort"/>
        <ref name="grammatische_Beschreibung_Interjektion"/>
        <ref name="grammatische_Beschreibung_Affix"/>
        <ref name="grammatische_Beschreibung_Sonstige"/>
      </choice>
      <optional>
        <ref name="Kommentar"/>
      </optional>
    </element>
  </define>
  <define name="grammatische_Beschreibung_MWA">
    <element name="Wortklasse">
      <value>Mehrwortausdruck</value>
    </element>
    <zeroOrMore>
      <ref name="Genus"/>
    </zeroOrMore>
    <ref name="Flexionsformen_Nomen"/>
    <optional>
      <ref name="Numeruspraeferenz"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Nomen">
    <element name="Wortklasse">
      <choice>
        <value>Substantiv</value>
        <value>Eigenname</value>
      </choice>
      <optional>
        <attribute name="Typ">
          <choice>
            <value>deadjektivisch</value>
            <value>deverbal</value>
          </choice>
        </attribute>
      </optional>
    </element>
    <zeroOrMore>
      <ref name="Genus"/>
    </zeroOrMore>
    <ref name="Flexionsformen_Nomen"/>
    <optional>
      <ref name="Numeruspraeferenz"/>
    </optional>
    <optional>
      <ref name="Artikelpraeferenz"/>
    </optional>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
    <zeroOrMore>
      <element name="FlexionsklasseSingular">
        <choice>
          <value>none</value>
          <value>1</value>
          <value>1a</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>5</value>
          <value>5a</value>
          <value>6</value>
        </choice>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="FlexionsklassePlural">
        <choice>
          <value>none</value>
          <value>1</value>
          <value>2</value>
          <value>3</value>
          <value>4</value>
          <value>4a</value>
          <value>4b</value>
          <value>5</value>
          <value>6</value>
          <value>7</value>
          <value>7a</value>
          <value>8</value>
          <value>9</value>
        </choice>
      </element>
    </zeroOrMore>
  </define>
  <define name="grammatische_Beschreibung_Verb">
    <interleave>
      <element name="Wortklasse">
        <choice>
          <value>Verb</value>
          <value>Imperativ</value>
          <value>Partizip Präteritum</value>
        </choice>
        <optional>
          <attribute name="class">
            <value>invisible</value>
          </attribute>
        </optional>
      </element>
      <ref name="Flexionsformen_Verb"/>
      <optional>
        <ref name="allgemeine_grammatische_Angaben"/>
      </optional>
    </interleave>
  </define>
  <define name="grammatische_Beschreibung_Adjektiv_Adverb">
    <element name="Wortklasse">
      <choice>
        <value>Adjektiv</value>
        <value>Adverb</value>
        <value>partizipiales Adjektiv</value>
        <value>partizipiales Adverb</value>
        <value>Komparativ</value>
        <value>Superlativ</value>
      </choice>
    </element>
    <optional>
      <choice>
        <ref name="indeklinabel"/>
        <ref name="Flexionsformen_Adjektiv_Adverb"/>
      </choice>
    </optional>
    <zeroOrMore>
      <ref name="Funktionspraeferenz"/>
    </zeroOrMore>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Präposition">
    <element name="Wortklasse">
      <value>Präposition</value>
    </element>
    <zeroOrMore>
      <ref name="Kasuspraeferenz"/>
    </zeroOrMore>
    <zeroOrMore>
      <ref name="Funktionspraeferenz"/>
    </zeroOrMore>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Pronomen">
    <element name="Wortklasse">
      <choice>
        <value>Pronomen</value>
        <value>Demonstrativpronomen</value>
        <value>Indefinitpronomen</value>
        <value>Interrogativpronomen</value>
        <value>Personalpronomen</value>
        <value>Possessivpronomen</value>
        <value>Reflexivpronomen</value>
        <value>Relativpronomen</value>
        <value>reziprokes Pronomen</value>
      </choice>
    </element>
    <optional>
      <ref name="Genus"/>
    </optional>
    <optional>
      <ref name="Kasuspraeferenz"/>
    </optional>
    <optional>
      <ref name="indeklinabel"/>
    </optional>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Pronominaladverb">
    <element name="Wortklasse">
      <value>Pronominaladverb</value>
    </element>
    <zeroOrMore>
      <ref name="Funktionspraeferenz"/>
    </zeroOrMore>
  </define>
  <define name="grammatische_Beschreibung_Artikel">
    <element name="Wortklasse">
      <choice>
        <value>bestimmter Artikel</value>
        <value>unbestimmter Artikel</value>
      </choice>
    </element>
    <optional>
      <ref name="Kasuspraeferenz"/>
    </optional>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Konjunktion">
    <element name="Wortklasse">
      <value>Konjunktion</value>
    </element>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Zahlwort">
    <element name="Wortklasse">
      <choice>
        <value>Kardinalzahl</value>
        <value>Ordinalzahl</value>
        <value>Bruchzahl</value>
      </choice>
    </element>
  </define>
  <define name="grammatische_Beschreibung_Interjektion">
    <element name="Wortklasse">
      <value>Ausruf</value>
    </element>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Sonstige">
    <element name="Wortklasse">
      <empty/>
    </element>
    <optional>
      <ref name="Kasuspraeferenz"/>
    </optional>
    <optional>
      <choice>
        <ref name="indeklinabel"/>
        <ref name="Flexionsformen_Adjektiv_Adverb"/>
      </choice>
    </optional>
    <optional>
      <!-- TODO -->
      <ref name="Numeruspraeferenz"/>
    </optional>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="grammatische_Beschreibung_Affix">
    <element name="Wortklasse">
      <value>Affix</value>
    </element>
    <zeroOrMore>
      <ref name="Genus"/>
    </zeroOrMore>
    <optional>
      <ref name="Flexionsformen_Nomen"/>
    </optional>
    <optional>
      <ref name="Numeruspraeferenz"/>
    </optional>
    <optional>
      <ref name="Funktionspraeferenz"/>
    </optional>
    <optional>
      <ref name="allgemeine_grammatische_Angaben"/>
    </optional>
  </define>
  <define name="indeklinabel">
    <a:documentation/>
    <!-- einzelne grammatische Eigenschaften -->
    <a:documentation/>
    <element name="indeklinabel">
      <empty/>
    </element>
  </define>
  <define name="Numeruspraeferenz">
    <element name="Numeruspraeferenz">
      <optional>
        <attribute name="class">
          <value>invisible</value>
        </attribute>
      </optional>
      <choice>
        <value>nur im Plural</value>
        <value>meist im Plural</value>
        <value>Singular selten</value>
        <value>Singular ungebräuchlich</value>
        <value>Plural ungebräuchlich</value>
        <value>Plural selten</value>
        <value>meist im Singular</value>
        <value>nur im Singular</value>
      </choice>
    </element>
  </define>
  <define name="Kasuspraeferenz">
    <element name="Kasuspraeferenz">
      <choice>
        <value>mit Gen.</value>
        <value>im Gen.</value>
        <value>oft mit Gen.</value>
        <value>mit Dat.</value>
        <value>im Dat.</value>
        <value>mit Dat. Pl.</value>
        <value>mit Akk.</value>
        <value>im Akk.</value>
        <value>meist mit Akk.</value>
        <value>mit Akk. eines artikellosen Nomens</value>
        <value>im Nom.</value>
      </choice>
    </element>
  </define>
  <define name="Genus">
    <element name="Genus">
      <choice>
        <value>mask.</value>
        <value>fem.</value>
        <value>neutr.</value>
      </choice>
    </element>
  </define>
  <define name="Artikelpraeferenz">
    <element name="Artikelpraeferenz">
      <optional>
        <attribute name="class">
          <value>invisible</value>
        </attribute>
      </optional>
      <choice>
        <value>ohne Artikel</value>
        <value>meist ohne Artikel</value>
        <value>mit bestimmtem Artikel</value>
        <value>nur mit bestimmtem Artikel</value>
        <value>mit unbestimmtem Artikel</value>
        <value>nicht mit bestimmtem Artikel</value>
        <value>nicht mit unbestimmtem Artikel</value>
      </choice>
    </element>
  </define>
  <define name="Funktionspraeferenz">
    <element name="Funktionspraeferenz">
      <choice>
        <value>Sonderfunktionen</value>
        <value>zeitlich</value>
        <value>steht oft zeitlichem Gebrauch nahe</value>
        <value>räumlich</value>
        <value>kausal</value>
        <value>konjunktional</value>
        <value>relativ</value>
        <value>modal</value>
        <value>ist eng mit der modalen Verwendung verbunden</value>
        <value>konditional</value>
        <value>interrogativ</value>
        <value>instrumental</value>
        <data type="token">
          <param name="pattern">((häufig|selten|nicht) )?attributiv</param>
        </data>
        <data type="token">
          <param name="pattern">((häufig|selten|nicht) )?prädikativ</param>
        </data>
        <data type="token">
          <param name="pattern">((häufig|selten|nicht) )?adverbiell</param>
        </data>
        <value>adjektivisch</value>
        <value>verbal</value>
        <value>präpositional</value>
        <value>konjunktional</value>
        <value>substantivisch</value>
        <value>nominal</value>
        <value>pronominal</value>
        <value>partikelhaft</value>
        <value>als Ausruf</value>
        <value>steht einem Ausruf nahe</value>
        <!-- TODO: prag? -->
        <value>als Interrogativpronomen</value>
        <value>als Indefinitpronomen</value>
        <value>als Kardinalzahl</value>
        <value>als unbestimmter Artikel</value>
        <value>als Relativpronomen</value>
        <value>als Genitivattribut</value>
        <value>im Übergang zum Indefinitpronomen</value>
        <value>im Übergang zur Konjunktion</value>
        <value>im Übergang zur Präposition</value>
      </choice>
    </element>
  </define>
  <define name="allgemeine_grammatische_Angaben">
    <a:documentation/>
    <!--
      grammatische Angaben,
      die für alle Wortklassen gegeben werden können
    -->
    <a:documentation/>
    <interleave>
      <zeroOrMore>
        <element name="Wortbildung">
          <optional>
            <ref name="Frequenzbeschraenkung"/>
          </optional>
          <choice>
            <value>Kunstwort</value>
            <value>ohne Verkleinerungsform</value>
            <value>produktiv</value>
            <value>vor Fremdwörtern</value>
            <value>trennbar</value>
            <value>untrennbar</value>
            <value>vor Vokalen</value>
            <value>vor Konsonanten</value>
            <value>vor Labialen</value>
            <value>vor ›h‹</value>
            <value>vor ›l‹</value>
            <value>vor ›r‹</value>
          </choice>
        </element>
      </zeroOrMore>
      <optional>
        <element name="Akzent">
          <choice>
            <data type="token">
              <param name="pattern">((stets|meist) )?(un)?betont</param>
            </data>
            <value>in unbetonter Stellung</value>
            <value>in fragendem Ton</value>
            <value>steht im Satz gewöhnlich in unbetonter Stellung</value>
            <value>in fragendem Ton</value>
            <value>kann betont sein</value>
            <value>mit Hauptton im Satz</value>
            <value>stets unbetont bei Verben und deren Ableitungen</value>
            <value>kann bei Vorhandensein eines Gegensatzwortes den Hauptton tragen</value>
            <value>kann je nach Zusammenhang und Stellung im Satz den Hauptton tragen</value>
            <value>kann, wenn kein Akzent angegeben ist, je nach Zusammenhang und Stellung im Satz den Hauptton tragen</value>
            <value>trägt nur dann den angegebenen Hauptton, wenn beim Grundwort kein Akzent steht</value>
            <value>trägt meist den Hauptton des Satzes</value>
            <value>trägt im Satz nie den Hauptton</value>
            <value>trägt den angegebenen Hauptton, wenn beim Grundwort kein Akzent steht</value>
            <value>unbetont, wenn mit einem trennbaren Verb verbunden</value>
            <value>der Ton liegt auf ›unter‹</value>
            <value>der Ton liegt auf ›von‹</value>
            <value>der Ton liegt auf ›vor‹</value>
          </choice>
        </element>
      </optional>
      <zeroOrMore>
        <element name="Einschraenkung">
          <optional>
            <ref name="Frequenzbeschraenkung"/>
          </optional>
          <ref name="formaler_Text"/>
        </element>
      </zeroOrMore>
    </interleave>
  </define>
  <define name="Flexionsformen_Nomen">
    <a:documentation/>
    <!-- wortklassenspezifische Flexionsparadigmen -->
    <a:documentation/>
    <zeroOrMore>
      <element name="Genitiv">
        <optional>
          <ref name="Frequenzbeschraenkung"/>
        </optional>
        <choice>
          <!-- Flexionsendungen -->
          <value>-</value>
          <value>-s</value>
          <value>-(s)</value>
          <value>-es</value>
          <value>-(e)s</value>
          <value>-ses</value>
          <value>-n</value>
          <value>-(n)</value>
          <value>-en</value>
          <value>-(e)n</value>
          <value>-ns</value>
          <value>-ens</value>
          <!-- Vollformen -->
          <data type="token">
            <param name="pattern">\p{Lu}[\p{Ll}\p{Nd} \-ʼ]+\p{Ll}</param>
          </data>
        </choice>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="Plural">
        <optional>
          <ref name="Frequenzbeschraenkung"/>
        </optional>
        <choice>
          <!-- Flexionsendungen -->
          <value>-</value>
          <value>-e</value>
          <value>-n</value>
          <value>-en</value>
          <value>-nen</value>
          <value>-sen</value>
          <value>-ten</value>
          <value>-er</value>
          <value>-s</value>
          <value>-(s)</value>
          <value>-es</value>
          <value>-(e)s</value>
          <value>-se</value>
          <value>-ns</value>
          <value>-ien</value>
          <value>-een</value>
          <value>-i</value>
          <value>-a</value>
          <value>-ta</value>
          <!-- Kombinationsformen (mit fakultativen Elementen) -->
          <value>-(n)</value>
          <value>-e(n)</value>
          <!-- Vollformen -->
          <data type="token">
            <param name="pattern">\p{Lu}[\p{L}\p{Nd} \-ʼ]+\p{Ll}</param>
          </data>
        </choice>
      </element>
    </zeroOrMore>
  </define>
  <define name="Flexionsformen_Adjektiv_Adverb">
    <zeroOrMore>
      <!--
        -e- bzw. -s- sind optional für Komparativ bzw. Superlativ
        wegen Fällen wie /mehr/ und /am größten/
      -->
      <element name="Komparativ">
        <data type="token">
          <param name="pattern">\p{Ll}+e?r|(länger|leichter|schwerer) \p{Ll}+(t|nd)</param>
        </data>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="Superlativ">
        <data type="token">
          <param name="pattern">am (\p{Ll}+s?ten|(längsten|leichtesten|schwersten) \p{Ll}+(t|nd))</param>
        </data>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="Komparationspraeferenz">
        <choice>
          <value>ohne Steigerung</value>
          <value>Steigerung selten</value>
          <value>ohne Komparativ</value>
          <value>meist im Superlativ</value>
          <value>nur im Superlativ</value>
          <value>Komparativ selten</value>
          <value>Komparativ ungebräuchlich</value>
          <value>Superlativ selten</value>
          <value>Superlativ ungebräuchlich</value>
        </choice>
      </element>
    </zeroOrMore>
  </define>
  <define name="Flexionsformen_Verb">
    <optional>
      <!-- Achtung: in einigen Gruppen nur \p{L} statt \p{Ll} wg. /Hohn lachen/ usw. -->
      <element name="reflexiv">
        <empty/>
      </element>
    </optional>
    <zeroOrMore>
      <!-- TODO: Wortklasse/@Typ -->
      <element name="Praesens">
        <data type="token">
          <param name="pattern">\p{Ll}+( sich)?( (ab|acht|an|aneinander|auf|aufeinander|aus|auseinander|bei|beisammen|besser|blank|breit|da(her|hin|neben|rüber|von|zu)|dar|dazu|drauf|dicht|durch|ein|einher|entgegen|ernst|fahren|fort|frei|fürlieb|gegen|gegeneinander|halt|her(ab|an|auf|aus|bei|ein|nieder|über|um|unter|vor)?|hin(ab|auf|aus|ein|unter|über|unter|zu)?|hinter(her|drein)?|hoch|kalt|leid|maß|nach|nieder|ob|parallel|ran|rauf|raus|rein|rüber|rum|runter|tiefer|trocken|über|überein|überhand|um|umhin|unter|verloren|verschütt|vor|vorlieb|vorüber|wach|wahr|weg|weich|weiter|wieder|wieder (an|auf|ein|gut|her)|weiter|wider|zu|zurück|zusammen|zwischen|\p{Lu}\p{Ll}+))?|e-mailt</param>
        </data>
        <optional>
          <ref name="Rechtschreibstatus"/>
        </optional>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="Praeteritum">
        <data type="token">
          <param name="pattern">\p{Ll}+( sich)?( (ab|acht|an|aneinander|auf|aufeinander|aus|auseinander|bei|beisammen|besser|blank|breit|da(her|hin|neben|rüber|von|zu)|dar|dazu|drauf|dicht|durch|ein|einher|entgegen|ernst|fahren|fort|frei|fürlieb|gegen|gegeneinander|halt|her(ab|an|auf|aus|bei|ein|nieder|über|um|unter|vor)?|hin(ab|auf|aus|ein|unter|über|unter|zu)?|hinter(her|drein)?|hoch|kalt|leid|maß|nach|nieder|ob|parallel|ran|rauf|raus|rein|rüber|rum|runter|tiefer|trocken|über|überein|überhand|um|umhin|unter|verloren|verschütt|vor|vorlieb|vorüber|wach|wahr|weg|weich|weiter|wieder|wieder (an|auf|ein|gut|her)|weiter|wider|zu|zurück|zusammen|zwischen|\p{Lu}\p{Ll}+))?|e-mailte</param>
        </data>
        <optional>
          <ref name="Rechtschreibstatus"/>
        </optional>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <element name="Auxiliar">
        <optional>
          <ref name="Frequenzbeschraenkung"/>
        </optional>
        <choice>
          <value>ist</value>
          <value>hat</value>
        </choice>
      </element>
    </zeroOrMore>
    <zeroOrMore>
      <!--
        TODO: sollte nur einmal auftreten, da sonst zwei Paradigmen vermischt sind?
        TODO: »wieder« ist scheint auf einen Ansetzfehler zurückzugehen (Phrase statt Lexem?)
        TODO: »lassen, gelassen«: neue Rechtschreibung so?
        note: die Gruppe am Anfang des ersten Ausdrucks steht wg. neuer Rechtschreibvarianten
        note: der zweite Ausdruck steht wg. neuer Rechtschreibung für »ab sein« usw.
      -->
      <element name="Partizip_II">
        <data type="token">
          <param name="pattern">(((Acht|blank|breit|Brust|dicht|Delfin|Delphin|ernst|Gewähr|Halt|Hohn|kalt|Maß|parallel|Rad|Rücken|Staub|trocken|wach|weich|wieder) )?\p{Ll}+)|((ab|auf|aus|durch|um|zu) gewesen)|\p{Ll}+ (lassen|gelassen)|ge-e-mailt</param>
        </data>
        <optional>
          <ref name="Rechtschreibstatus"/>
        </optional>
      </element>
    </zeroOrMore>
  </define>
  <define name="freie_grammatische_Beschreibung">
    <a:documentation/>
    <!--
      Spezifizierung und/oder Auswahl
      grammatischer Eigenschaften innerhalb von Lesarten
      – hier ist (fast) alles möglich, außer Wortklassenangaben
    -->
    <a:documentation/>
    <element name="Grammatik">
      <interleave>
        <optional>
          <ref name="Metadaten.allgemein"/>
        </optional>
        <optional>
          <attribute name="Originaltext">
            <data type="token" datatypeLibrary=""/>
          </attribute>
        </optional>
        <optional>
          <!-- for Duden99 compatibility -->
          <ref name="indeklinabel"/>
        </optional>
        <zeroOrMore>
          <ref name="Genus"/>
        </zeroOrMore>
        <optional>
          <ref name="Numeruspraeferenz"/>
        </optional>
        <optional>
          <ref name="Artikelpraeferenz"/>
        </optional>
        <zeroOrMore>
          <ref name="Funktionspraeferenz"/>
        </zeroOrMore>
        <zeroOrMore>
          <ref name="Kasuspraeferenz"/>
        </zeroOrMore>
        <ref name="allgemeine_grammatische_Angaben"/>
        <choice>
          <ref name="Flexionsformen_Nomen"/>
          <ref name="Flexionsformen_Verb"/>
          <ref name="Flexionsformen_Adjektiv_Adverb"/>
        </choice>
        <optional>
          <ref name="Kommentar"/>
        </optional>
      </interleave>
    </element>
  </define>
  <define name="syntaktische_Relationen">
    <a:documentation/>
    <!-- syntaktische Annotationen für Kollokationen -->
    <a:documentation/>
    <choice>
      <value>Stichwort_ist_Adjektivattribut_von</value>
      <value>Stichwort_ist_Adverbialbestimmung_von</value>
      <value>Stichwort_ist_Akkusativobjekt_von</value>
      <value>Stichwort_ist_Aktivsubjekt_von</value>
      <value>Stichwort_ist_Dativobjekt_von</value>
      <value>Stichwort_ist_Genitiv-/Akkusativ-/Dativobjekt_von</value>
      <value>Stichwort_ist_Genitivattribut_von</value>
      <value>Stichwort_ist_in_Koordination_mit</value>
      <value>Stichwort_ist_in_Präpositionalgruppe/-objekt_zu</value>
      <value>Stichwort_ist_in_vergleichender_Wort-/Nominalgruppe_zu</value>
      <value>Stichwort_ist_partitive_Apposition</value>
      <value>Stichwort_ist_Passivsubjekt_von</value>
      <value>Stichwort_ist_Prädikativ_von</value>
      <value>Stichwort_ist_Subjekt_von_(Aktiv/Passiv)</value>
      <value>Stichwort_hat_Adjektivattribut</value>
      <value>Stichwort_hat_Adverbialbestimmung</value>
      <value>Stichwort_hat_Akkusativobjekt</value>
      <value>Stichwort_hat_Aktivsubjekt</value>
      <value>Stichwort_hat_Dativobjekt</value>
      <value>Stichwort_hat_Genitiv-/Akkusativ-/Dativobjekt</value>
      <value>Stichwort_hat_Genitivattribut</value>
      <value>Stichwort_hat_Passivsubjekt</value>
      <value>Stichwort_hat_Prädikativ</value>
      <value>Stichwort_hat_Präpositionalgruppe/-objekt_mit</value>
      <value>Stichwort_hat_Subjekt_(Aktiv/Passiv)</value>
      <value>Stichwort_hat_Verbzusatz</value>
      <value>Stichwort_hat_vergleichende_Wort-/Nominalgruppe_mit</value>
    </choice>
  </define>
</grammar>