oxygen/framework/rnc/Diachrony.rnc

default namespace = 'http://www.dwds.de/ns/1.0'
namespace sch = 'http://purl.oclc.org/dsdl/schematron'

#####################################################################
# Etymologie
# (nicht konsistent modelliert,
# da in der lexikografischen Bearbeitung vorerst zurückgestellt)
#####################################################################


# TODO: detect invalid apostrophe (&apos;) too
[
  sch:pattern [
    sch:rule [
      context = "//d:Diachronie"
      sch:assert [
        test = """not(contains(string-join(.//text(), ''), '"') or contains(string-join(.//text(), ''), '‘') or contains(string-join(.//text(), ''), "'") )"""
        'Unzulässige Typografie in Diachronie: erwaehntes_Zeichen und Paraphrase nutzen?'
      ]
    ]
  ]
]

Diachronie = element Diachronie {
	Metadaten.allgemein ?
	, element Etymologie {
	    attribute class { 'invisible' } ?
	    , freie_Beschreibung
	}
	, element Formgeschichte {
	    attribute class { 'invisible' } ?
	    , freie_Beschreibung
	}
	, element Bedeutungsgeschichte {
	    attribute class { 'invisible' } ?
	    , freie_Beschreibung
	}
	, element Verweise {
		element Verweis {
			attribute Typ { 'EtymWB' }
			, Verweisziel
		} *
	}
}

freie_Beschreibung = mixed {
    Paraphrase *
    & erwaehntes_Zeichen *
	& Stilebene *
	& Stilfaerbung *
	& Sprachraum *
	& Gebrauchszeitraum *
	& Gruppensprache *
	& Fachgebiet *
	& semantischer_Verweis *
	& externer_Verweis *
	& Fundstelle *
	& element Stichwort { Lemmatoken }*
}

Kommentar = element Kommentar {
	Metadaten.allgemein ?
	, attribute class { 'invisible' } ?
	, freie_Beschreibung
}

erwaehntes_Zeichen = element erwaehntes_Zeichen {
    attribute Sprache { list { Sprachen + } }
	, token
}

Sprachen = (
	'UNKNOWN'
	| 'abret'        # obt: Old Breton
	| 'abulg'        # chu: Old Bulgarian
	| 'adaen'
	| 'aegypt'       # egy: Egyptian (Ancient)
	| 'aengl'        # ang: Old English (ca. 450-1100)
	| 'aeol'
	| 'affade'
	| 'afghan'       # prs: Afghan Persian
	| 'afries'       # ofs: Old Frisian
	| 'afrikan'
	| 'afrikaans'
	| 'afrk'
	| 'afrz'         # fro: Old French (842-ca. 1400)
	| 'agaskogn'
	| 'agriech'      # grc: Ancient Greek (to 1453)
	| 'ahd'          # goh: Old High German (ca. 750-1050) [a-s]
	| 'aimara'
	| 'aind'
	| 'air'          # sga: Old Irish (to 900)
	| 'aital' 
	| 'akatalan'
	| 'akkad'        # akk: Akkadian
	| 'akorn'        # oco: Old Cornish
	| 'akymr'        # owl: Old Welsh
	| 'alat'         # ?== Old Latin
	| 'alban'        # sqi: Albanian
	| 'alem'         # gsw: Alemannic
	| 'alit' 
	| 'altalem'
	| 'altarmen'     # xcl: Classical Armenian
	| 'altgutn'
	| 'altiran'      # ?== Old Persian (ca. 600-400 B.C.)
	| 'altkoeln'     
	| 'altkur'       # altkurisch
	| 'altmaerk'
	| 'altmailaend'
	| 'altnorm'
	| 'altobital'
	| 'altvenezian'
	| 'amerik' 
	| 'amerik-engl'
	| 'amerik-span'
	| 'amongol'      # cmg: Classical Mongolian
	| 'amoy'
	| 'anfrk'
	| 'angl' 
	| 'angloind' 
	| 'anglolat' 
	| 'anglomlat'
	| 'anglonorm'    # xno: Anglo-Norman
	| 'anord'        # non: Old Norse
	| 'anorw' 
	| 'aostnfrk' 
	| 'apers'        # peo: Old Persian (ca. 600-400 B.C.)
	| 'apikard'
	| 'apolab'
	| 'apolab-apomoran'
	| 'apoln'
	| 'apomoran'
	| 'apreuss'
	| 'aprov'        # pro: Old Provençal (to 1500)
	| 'arab'         # ara: Arabic
	| 'arab-tuerk'
	| 'aram'         # ?arc: Official Aramaic (700-300 BCE)
	| 'armen'        # hye: Armenian
	| 'aruak'        # == Taino?
	| 'aruss'        # orv: Old Russian
	| 'asaechs'      # osx: Old Saxon
	| 'aschkenas'
	| 'aschwed'
	| 'aserbaidshan'
	| 'aslaw'        # chu: Old Slavonic
	| 'aslowen'
	| 'asorb'
	| 'aspan'        # osp: Old Spanish
	| 'assyr'
	| 'atschech'
	| 'att'
	| 'austral'
	| 'awest'        # ave: Avestan
	| 'aztek'
	| 'babyl-assyr'
	| 'bad'
	| 'bair'
	| 'balkangerm'
	| 'balkanlat'
	| 'balt'         #
	| 'balti'
	| 'bantu'
	| 'bask'         # eus: Basque
	| 'beloruss'
	| 'bengal'
	| 'berber'
	| 'berlin'
	| 'bibl-griech'
	| 'boehm'        #
	| 'bosn'         # Bosnian
	| 'botan-lat'
	| 'brabant-ostflaem'
	| 'brandenburg'
	| 'bret'         # bre: Breton
	| 'brit-engl' 
	| 'bulg'         # bul: Bulgarian
	| 'burgund'
	| 'byzant'
	| 'byzant-griech'
	| 'canarese'
	| 'chines' 
	| 'clev'
	| 'daen'         # dan: Danish
	| 'dalmat'
	| 'dhivehi'
	| 'dor'
	| 'drawid'
	| 'dschagata'
	| 'dt'           # 
	| 'elsaess' 
	| 'engadin'
	| 'engl'         # eng: English
	| 'eskim'
	| 'esperanto'
	| 'estn'         # est: Estonian
	| 'finn'         # fin: Finnish
	| 'flaem'
	| 'flandr'
	| 'florentin'
	| 'fries'
	| 'frk'          # frk: Frankish
	| 'fruehgalloroman'
	| 'fruehmhd'     #
	| 'fruehnhd'
	| 'frz'          # fra: French
	| 'gael'         # gla: Gaelic
	| 'galiz'
	| 'gall'
	| 'gall-lat'
	| 'gall-spaetlat'
	| 'galloroman'
	| 'geg'          # # gegisch
	| 'gemeingerm'
	| 'gemeinslaw'
	| 'germ'
	| 'got'          # got: Gothic
	| 'got-griech'
	| 'goetting'
	| 'griech'       # ell: Modern Greek (1453-)
	| 'griech-kirchenlat'
	| 'griech-lat'
	| 'griech-spaetlat'
	| 'groedner'
	| 'groenlaend'
	| 'guarani'      # grn: Guarani
	| 'gujarati'
	| 'hamit'
	| 'hans'         # hansisch
	| 'hawai'        # hawaiisch
	| 'hd'
	| 'hebr'         # hbo: Ancient Hebrew
	| 'hess'         # 
	| 'hethit'
	| 'hindi'        # hin: Hindi
	| 'hindust'
	| 'hispano-arab' # ?xaa: Andalusian Arabic
	| 'hochchin'
	| 'holl'
	| 'holst'
	| 'hunn'
	| 'ibero-arab'   # ?xaa: Andalusian Arabic
	| 'ie'
	| 'illyr'
	| 'ind'
	| 'indian'
	| 'indones'
	| 'ion'
	| 'ir'           # gle: Irish
	| 'isl'          # isl: Icelandic
	| 'ital'         # ita: Italian
	#| 'italisch'
	| 'italo-alban'
	| 'jakut'
	| 'japan'        # jpn: Japanese
	| 'jidd'         # yid: Yiddish
	| 'kaerntner'
	| 'kalabr'
	| 'kalmyk'
	| 'karel'
	| 'karib'
	| 'kasach'
	| 'kaschub'
	| 'katalan'      # cat: Catalan
	| 'kelt'
	| 'ketschua'
	| 'khoi-san'
	| 'kimbundu'     # kmb: Kimbundu
	| 'kirchenlat'
	| 'kolalapp'
	| 'kongo'
	| 'kontinentalingwaeon'
	| 'kontinentalwestgerm'
	| 'kopt'         # cop: Coptic
	| 'korn'         # cor: Cornish
	| 'koybal'
	| 'krimgot'
	| 'krimtatar'
	| 'kroat'        # hrv: Croatian
	| 'kslaw'        # chu: Church Slavonic
	| 'kuban-span'
	| 'kymr'         # cym: Welsh
	| 'kypr'
	| 'langobard'    # lng: Langobardic
	| 'lat'          # lat: Latin
	| 'lett'
	| 'lit'          # lit: Lithuanian
	| 'lombard'      # ?== lmo: Lombard
	| 'lueneburg'
	| 'luxemburg'
	| 'maghrebin-arab'
	| 'mal'          # msa: Malay (macrolanguage)
	| 'malajalam'
	| 'maldiv'       # div: Maldivian
	| 'maori'
	| 'marathi'
	| 'maya'
	| 'mbulg'
	| 'md'
	| 'mecklenb'
	| 'medizin-lat'
	| 'medizin-mlat'
	| 'mengl'        # enm: Middle English (1100-1500)
	| 'merowing-lat'
	| 'messap'       # cms: Messapic
	| 'mexikan-span'
	| 'mfrk'
	| 'mfrz'         # frm: Middle French (ca. 1400-1600)
	| 'mgriech'
	| 'mhd'          # gmh: Middle High German (ca. 1050-1500)
	| 'mind'
	| 'mir'          # mga: Middle Irish (900-1200)
	| 'mitanni'
	| 'mitteliran'
	| 'mittelital'
	| 'mittelrhein'
	| 'mkorn'        # cnx: Middle Cornish
	| 'mkymr'        # wlm: Middle Welsh
	| 'mlat'
	| 'mnd'          # gml: Middle Low German
	| 'mnl'          # dum: Middle Dutch (ca. 1050-1350)
	| 'mongol'       # mon: Mongolian
	| 'moselfrk'
	| 'mpers'
	| 'mruss'
	| 'nachgot'
	| 'nahuatl'
	| 'nd'           # nds: Low German
	| 'neapolitan'
	| 'nfrk'
	| 'ngriech'      # ell: Modern Greek (1453-)
	| 'nhd'          # deu: German 
	| 'nhebr'        # heb: Hebrew
	| 'nicht-ie'
	| 'nicht-fries'
	| 'niederhess'
	| 'niederrhein'
	| 'nordhumbr'
	| 'nl'           # nld: Dutch
	| 'nlat'
	| 'nordafrikan'
	| 'nordafrz'
	| 'nordbair'
	| 'nordd'        # ?== nds: Low German?
	| 'nordgerm'
	| 'nordfries'    # frr: Northern Frisian
	| 'nordital'
	| 'nordmfrz'
	| 'nordostd'
	| 'nordpomoran'
	| 'nordfrz'
	| 'nordwestd'
	| 'nordwestgerm'
	| 'nordwestmd'
	| 'nordwestnd'
	| 'norm'
	| 'norw'         # nor: Norwegian
	| 'norw-lapp'
	| 'nsaechs'      # nds: Low Saxon
	| 'nsorb'        # dsb: Lower Sorbian
	| 'nub'
	| 'obd'
	| 'oberelsaess'
	| 'obfrk'
	| 'obhess'
	| 'obital'
	| 'obsaechs'
	| 'obsorb'       # hsb: Upper Sorbian
	| 'obwald'
	| 'oest'
	| 'oestl_dt'   # TODO: keep?
	| 'ostfries'       # frs: Eastern Frisian
	| 'oirot'
	| 'okzitan'
	| 'omd'
	| 'oriya'
	| 'osk'          # osc: Oscan
	| 'osk-umbr'
	| 'osset'        # oss: Ossetian
	| 'ostafrz'
	| 'ostbair'
	| 'ostd'
	| 'ostflaem'
	| 'ostfrk'
	| 'ostfrz'
	| 'ostgerm'
	| 'ostie'
	| 'ostlit'
	| 'ostmnl'
	| 'ostnd'
	| 'ostpreuss'
	| 'pali'
	| 'pers'         # fas: Persian
	| 'pers-arab'
	| 'pfaelz'
	| 'phoen'        # phn: Phoenician
	| 'piemont'
	| 'pikard'       # pcd: Picard
	| 'polab'
	| 'polabopomoran'
	| 'poln'         # pol: Polish
	| 'polynes'
	| 'pomoran'
	| 'port'         # por: Portuguese
	| 'prov'
	| 'pseudolat'
	| 'raetoroman'
	| 'rhein'
	| 'roman'
	| 'romani'
	| 'rotw'
	| 'rumaen'       # ron: Romanian
	| 'russ'         # rus: Russian
	| 'russ-kslaw'
	| 'saam'
	| 'sagha'
	| 'sanskrit'
	| 'sard'
	| 'savoyard'
	| 'schles'
	| 'schlesw-holst'
	| 'schott'
	| 'schwaeb'
	| 'schwaeb-alem'
	| 'schwaeb-bair'
	| 'schwed'       # swe: Swedish
	| 'schweiz'      # gsw: Swiss German 
	| 'schweizerdt'  # == schweiz?
	| 'semit'
	| 'senegamb'
	| 'serb-kslaw'
	| 'serbokr'      # hbs: Serbo-Croatian
	| 'serbokr-kslaw'
	| 'singhal'
	| 'sizilian'
	| 'slaw'
	| 'slowak'       # slk: Slovak
	| 'slowen'       # slv: Slovenian
	| 'sojon'
	| 'sorb'
	| 'spaetahd'
	| 'spaetgall'
	| 'spaetgot'
	| 'spaetgriech'
	| 'spaetlat'
	| 'spaetmhd'
	| 'spaetmnd'
	| 'spaetmnl'
	| 'span'         # spa: Spanish
	| 'suedchin'
	| 'suedd'
	| 'suedhess'
	| 'suedind'
	| 'suedital'
	| 'suedmnl'
	| 'suednl'
	| 'suedostd'
	| 'suedostfrz'
	| 'suedrheinfrk'
	| 'suedschwed'
	| 'suedslaw'
	| 'suedwestd'
	| 'suedwestfrz'
	| 'sumer'        # sux: Sumerian
	| 'sumer-akkad'
	| 'swahili'
	| 'syr'
	| 'taino'        # == aruak?
	| 'tamil'        # tam: Tamil
	| 'tarantschi'
	| 'tessin'
	| 'thuer'
	| 'tibet'
	| 'tirol'
	| 'thrak'        # txh: Thracian
	| 'toch_A'
	| 'toch_B'
	| 'tosk'
	| 'tschech'      # ces: Czech
	| 'tswana'       # tsn: Tswana
	| 'tungus'
	| 'tupi'         # tpw: Tupí
	| 'tuerk'
	| 'turk'
	| 'turkotatar'
	| 'uigur'
	| 'ukrain'       # ukr: Ukrainian
	| 'umbr'         # xum: Umbrian
	| 'ungar'        # hun: Hungarian
	| 'urdu'         # urd: Urdu
	| 'urkelt'
	| 'urnord'
	| 'urruss'
	| 'urslaw'
	| 'venezian'
	| 'vlat'
	| 'vogtlaend'
	| 'volapuek'
	| 'vor-ie'
	| 'vorlat'
	| 'vorkelt'
	| 'vorslaw'
	| 'vorroman'
	| 'vulgaerarab'
	| 'vulgaergriech'
	| 'waldeck'
	| 'wallon'       # wln: Walloon
	| 'walis'
	| 'westafrikan'
	| 'westd'
	| 'westfael'
	| 'westflaem'
	| 'westfrz'
	| 'westfries'    # fry: Western Frisian
	| 'westgerm'
	| 'westjidd'
	| 'westmd'
	| 'westnd'
	| 'westobd'
	| 'westroman'
	| 'westsaechs'
	| 'westslaw'
	| 'zigeuner'
	| 'zoolog-lat'
)
