oxygen/framework/rnc/Grammar.rnc

default namespace = 'http://www.dwds.de/ns/1.0'
namespace sch = 'http://purl.oclc.org/dsdl/schematron'

#####################################################################
# wortklassenspezifische Grammatik-Gruppe auf Artikel-Ebene
#####################################################################

[
  sch:pattern [
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Substantiv']][not(d:Numeruspraeferenz[text() = 'nur im Singular'])][not(d:Numeruspraeferenz[text() = 'nur im Plural'])]"
      sch:assert [
        test = "d:Genus"
        'Fehlende Genusangabe ergänzen!'
      ]
      sch:assert [
        test = "d:Genitiv"
        'Fehlende Eckform(en) Genitiv/Singular ergänzen!'
      ]
      sch:assert [
        test = "d:Plural"
        'Fehlende Eckform(en) Nominativ/Plural ergänzen!'
      ]
    ]
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Substantiv']][d:Numeruspraeferenz[text() = 'nur im Plural']]"
      sch:assert [
        test = "not(d:Genus) and not(d:Genitiv) and not(d:Plural)"
        'Eckformen und/oder Genus entfernen (Pluraletantum)!'
      ]
    ]
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Substantiv']][d:Numeruspraeferenz[text() = 'nur im Singular']]"
      sch:assert [
        test = "d:Genus"
        'Fehlende Genusangabe ergänzen!'
      ]
      sch:assert [
        test = "d:Genitiv"
        'Fehlende Eckform(en) Genitiv/Singular ergänzen!'
      ]
      sch:assert [
        test = "not(d:Plural)"
        'Eckform Nominativ/Plural entfernen (Singularetantum)!'
      ]
    ]
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Verb']]"
      sch:assert [
        test = "d:Praesens and d:Praeteritum and d:Auxiliar and d:Partizip_II"
        'Fehlende Flexionsangabe(n) (Präsens, Präteritum, Auxiliar, Partizip II)'
      ]
    ]
  ]
]

Verbalflexion_1 = (
    # nicht trennbare Verben
    xsd:token { pattern = '\p{Ll}+( sich)?' }
    # trennbare Verben (AFF+V, ADV+V)
    | xsd:token { pattern = '\p{Ll}+( sich)? (ab|abhanden|abwärts|an|aneinander|anheim|auf|aufeinander|aufwärts|aus|auseinander|bei|beieinander|beisammen|beiseite|da|dagegen|daheim|daher|dahin|dahinter|daneben|darauf|darüber|darunter|darum|davon|dazu|dazwischen|dar|darnieder|dort|dran|drauf|drauflos|draus|drein|drin|drüber|durch|durcheinander|ein|einher|einwärts|empor|entgegen|entlang|entzwei|fort|fürlieb|gegen|gegeneinander|gegenüber|heim|her|herab|heran|herauf|heraus|herbei|herein|hernieder|herüber|herum|herunter|hervor|hier|hin|hinab|hinauf|hinaus|hindurch|hinein|hinunter|hinüber|hinunter|hinweg|hinzu|hintan|hinter|hinterher|hinterdrein|hintüber|ineinander|instand|in Stand|los|mal|mit|mit ein|nach|nebeneinander|nebenher|nieder|ob|quer|ran|rauf|raus|rein|rüber|rück|rum|runter|statt|über|überein|übereinander|überhand|um|umher|umhin|unter|voneinander|vonstatten|vor|vorab|voran|vorauf|voraus|vorbei|vorher|vorlieb|vornüber|vorüber|vorwärts|vorweg|weg|wieder|wieder ab|wieder an|wieder auf|wieder ein|wieder her|wider|zu|zueinander|zunichte|zupasse?|zurecht|zurück|zugute|zusammen|zustatten|zuteil|zuvor|zuwider|zwischen)' }
    # trennbare Verben (ADJ+V)
    | xsd:token { pattern = '\p{Ll}+( sich)? (allein|bankrott|bekannt|bereit|besser|blank|blau|blind|brach|breit|dicht|down|ernst|falsch|fehl|feil|fern|fertig|fest|flach|frei|fremd|frisch|gering|ge?rade|gern|gesund|glatt|gleich|groß|gut|hoch|höher|kahl|kalt|kaputt|klar|klein|krank|krumm|kund|kurz|lahm|lang|laut|leer|leicht|leid|lieb|matt|mies|mobil|nahe|neu|offen|parallel|platt|pleite|richtig|rund|satt|sauber|selig|scharf|scheu|schlau|schlecht|schön|schwarz|stark|steif|stille?|tief(er)?|tot|trocken|übel|verloren|verrückt|verschütt|voll|wach|wahr|warm|weh|weich|weiter|wert|wett|wichtig|wieder gut|wohl|wund|zufrieden)' }
    # trennbare Verben (V+V)
    | xsd:token { pattern = '\p{Ll}+( sich)? (bleiben|fahren|laufen|liegen|platzen|schmoren|sitzen)' }
    # trennbare Verben (N+V) TODO: ggf. aufzählen, ggf. nicht reflexiv?
    | xsd:token { pattern = '\p{Ll}+( sich)? \p{Lu}\p{Ll}+' }
)

grammatische_Beschreibung = element Grammatik {
	Metadaten.allgemein ?
	, attribute Originaltext { token } ? # for Duden99 compatibility, deprecated
    	, element Wortklasse {
	    	attribute class { 'invisible' } ?
		, attribute Typ {  # TODO: this belongs to word formation, actually
			'deadjektivisch' | 'deverbal'
		} ?
		, (
			string ''
			| string 'Substantiv'
			| string 'Eigenname' # deprecated, use Funktionspraeferenz instead
	    		| string 'Verb'
			| string 'Imperativ'
			| string 'Adjektiv'
			| string 'Adverb'
			| string 'partizipiales Adjektiv'
			| string 'partizipiales Adverb'
			| string 'Komparativ'
			| string 'Superlativ'
			| string 'Pronominaladverb'
			| string 'Präposition'
			| string 'Präposition + Artikel'
			| string 'bestimmter Artikel'
			| string 'unbestimmter Artikel'
			| string 'Konjunktion'
			| string 'Kardinalzahl'
			| string 'Ordinalzahl'
			| string 'Bruchzahl'
			| string 'Pronomen'
			| string 'Demonstrativpronomen'
			| string 'Indefinitpronomen'
			| string 'Interrogativpronomen'
			| string 'Personalpronomen'
			| string 'Possessivpronomen'
			| string 'Reflexivpronomen'
			| string 'Relativpronomen'
			| string 'reziprokes Pronomen'
			| string 'Interjektion'
			| string 'Affix'
			| string 'Mehrwortausdruck'
			| string 'Partikel'
		)
	} ?
	, element indeklinabel { empty } ? # TODO: Wortklasse/@Typ?
	, element reflexiv { empty } ? # TODO: Wortklasse/@Typ?
	, element Genus {
            string 'mask.'
            | string 'fem.'
            | string 'neutr.'
        } * # TODO: 'ohne erkennbares Genus' ?
	# #################
	# Substantive #####
	# #################
	, element Genitiv {
		Frequenzbeschraenkung ?
		, (
			# Flexionsendungen
			string '-'
			| string '-en'
			| string '-ens'
			| string '-es'
			| string '-n'
			| string '-ns'
			| string '-s'
			| string '-ses'
			# Kombinationsformen (mit fakultativen Elementen)
			| string '-(e)n'
			| string '-(e)s'
			| string '-(n)'
			| string '-(s)'
			# Vollformen
			| xsd:token { pattern = '\p{Lu}[\p{Ll}\p{Nd} \-’₀₂]+\p{Ll}' }
			# »Voll«-Formen von Affix(oid)en
			| xsd:token { pattern = '\-(anden|ans|chens|derls|dls|ei|els|elei|erei|erls|ers|fabrik|fritzen|hai\(e\)s|in|heinis|hubers|ik|iers|ins|isten|itis|keit|kunde|leins|lers|les|lings|ls|lyse|meters|nauten|nis|nisses|onkels|ose|schwein\(e\)s|silos|tums|tumes|ung|verschnitt\(e\)s|werke?s|wesens)' }
		)
	} *
	, element Plural {
		Frequenzbeschraenkung ?
		, (
			# Flexionsendungen
			string '-'
			| string '-a'
			| string '-e'
			| string '-een'
			| string '-en'
			| string '-er'
			| string '-es'
			| string '-i'
			| string '-ien'
			| string '-nen'
			| string '-n'
			| string '-ns'
			| string '-s'
			| string '-se'
			| string '-sen'
			| string '-ta'
			| string '-ten'
			# Kombinationsformen (mit fakultativen Elementen)
			| string '-e(n)'
			| string '-(e)s'
			| string '-(n)'
			| string '-(s)'
			# Vollformen
			| xsd:token { pattern = '(\p{Lu}[\p{L}\p{Nd} \-’₀₂]+\p{Ll}|-itiden)' }
			# »Voll«-Formen von Affix(oid)en
			| xsd:token { pattern = '\-(anden|ane|chen|derl\(n\)|dl\(n\)|eien|el|eleien|ereien|erl|erl\(n\)|fabriken|fritzen|haie|innen|heinis|huber|ier|iere|iers|iken|ine|isten|itiden|keiten|kunde|l|le|lein|ler|l\(n\)|linge|lysen|meter|nauten|nisse|onkels|osen|schweine|silos|tümer|ungen|verschnitte|werke|wesens)' }
                        # Ausnahmen
                        | xsd:token { pattern = '(i\-Dötze|K\.\-o\.\-(Abbrüche|Schläge))' }
        	)
	} *

	# ###############
	# Verben #######
	# ###############
	# Achtung: in einigen Gruppen nur \p{L} statt \p{Ll} wg. /Hohn lachen/ usw.
	# TODO: refactor verbal prefixes + tense specific excepions
	, element reflexiv { empty } ? # TODO: Wortklasse/@Typ
	, (
		element Praesens {
                    Rechtschreibstatus ?
                    , (
                        Verbalflexion_1
                        # Ausnahmen
                        | xsd:token { pattern = '(e\-mailt|gibt acht|hat acht|kommt zupasse?|macht halt|nimmt teil|hält maß|isst mittag|nimmt maß|tut not|macht weis)' }
                    )
		} +
		, element Praeteritum {
                    Rechtschreibstatus ?
                    , (
                        Verbalflexion_1
                        # Ausnahmen
                        | xsd:token { pattern = '(e\-mailte|gab acht|hatte acht|kam zupasse?|machte halt|nahm teil|hielt maß|aß mittag|nahm maß|tat not|machte weis|lachte Hohn)' }
                    )
		} +
	) ?
	, element Auxiliar {
		Frequenzbeschraenkung ?
		, ( 'ist' | 'hat' )
	} *
	
	# TODO: sollte nur einmal auftreten, da sonst zwei Paradigmen vermischt sind?
	# TODO: »wieder« ist scheint auf einen Ansetzfehler zurückzugehen (Phrase statt Lexem?)
	# TODO: »lassen, gelassen«: neue Rechtschreibung so?
	# note: die Gruppe am Anfang des ersten Ausdrucks steht wg. neuer Rechtschreibvarianten
	# note: der zweite Ausdruck steht wg. neuer Rechtschreibung für »ab sein« usw.
	, element Partizip_II {
		xsd:token { pattern = '(((Acht|Auto|bekannt|blank|blau|bloß|breit|Brust|Dank|Delfin|Delphin|dicht|dick|dünn|ernst|Fahrrad|fein|fertig|fest|frei|ge?rade|Gewähr|glatt|groß|gut|Halt|hart|heiß|Hohn|instand|in Stand|kahl|kalt|kaputt|klein|krank|krumm|kurz|lang|leer|locker|Maß|mobil|Motorrad|offen|parallel|platt|Rad|rein|richtig|Rücken|ruhig|sauber|scharf|schief|schlank|schön|stark|Staub|steif|straff|stramm|schwarz|tief|tot|trocken|übrig|wach|warm|weh|weich|weiß|wieder|wohl|wund|zueinander) )?\p{Ll}+)|((ab|auf|aus|durch|hinterher|um|zu) gewesen)|\p{Ll}+ (lassen|gelassen)|ge-e-mailt' }
		, Rechtschreibstatus ?
	} *
	# ##################
	# Adjektive #######
	# ##################
	# -e- bzw. -s- sind optional für Komparativ bzw. Superlativ
	# wegen Fällen wie /mehr/ und /am größten/
        , element Positivvariante { Lemmatoken } ?
	, element Komparativ { xsd:token { pattern = '(\p{Ll}+\-)?\p{Ll}+e?r|(besser|freier|länger|leichter|näher|tiefer|schwerer|weiter) ?\p{Ll}+(t|nd)' } } *
	, element Superlativ { xsd:token { pattern = 'am ((\p{Ll}+\-)?\p{Ll}+s?ten|(besten|freiesten|längsten|leichtesten|nächsten|tiefsten|schwersten|weitesten) \p{Ll}+(t|nd))|nächst\p{Ll}+|(best|tiefst)\p{Ll}+nd' } } *
	, element Komparationspraeferenz {
		string 'ohne Steigerung'
		| string 'Steigerung selten'
		| string 'ohne Komparativ'
		| string 'meist im Superlativ'
		| string 'nur im Superlativ'
		| string 'Komparativ selten'
		| string 'Komparativ ungebräuchlich'
		| string 'Superlativ selten'
		| string 'Superlativ ungebräuchlich'
	} *
	, element Kasuspraeferenz {
		Frequenzbeschraenkung ?
		, (
			string 'mit Genitiv'
                        | string 'im Genitiv'
                        | string 'im Dativ'
			| string 'mit Dativ'
                        | string 'mit Dativ Plural'
                        | string 'im Akkusativ'
			| string 'mit Akkusativ'
			| string 'im Nominativ'
		)
	} *
	, element Numeruspraeferenz {
		attribute class { 'invisible' } ? # Why do we even need this?
		, (
			string 'nur im Plural'
			| string 'meist im Plural'
			| string 'Singular selten'
			| string 'Singular ungebräuchlich'
			| string 'Plural ungebräuchlich'
			| string 'Plural selten'
			| string 'meist im Singular'
			| string 'nur im Singular'
		)
	} ?
	, element Funktionspraeferenz {
		Frequenzbeschraenkung ?
		, (
			'Sonderfunktionen'
			| 'zeitlich' | 'steht oft zeitlichem Gebrauch nahe'
			| 'räumlich'
			| 'kausal' 
			| 'konjunktional'
			| 'relativ'
			| 'modal' | 'ist eng mit der modalen Verwendung verbunden'
			| 'in Verbindung mit Modalverben' # MWA
			| 'konditional'
			| 'interrogativ'
			| 'instrumental'
			| 'attributiv'
			| 'prädikativ'
			| 'adverbiell'
			| 'adjektivisch'
			| 'verbal'
			| 'präpositional'
			| 'konjunktional'
			| 'substantivisch' | 'nominal'
			| 'pronominal'
			| 'partikelhaft'
			| 'als Ausruf' | 'steht einem Ausruf nahe' # TODO: prag?
			| 'als Interrogativpronomen'
			| 'als Indefinitpronomen'
			| 'als Kardinalzahl'
			| 'als unbestimmter Artikel'
			| 'als Relativpronomen'
			| 'als Genitivattribut'
                        | 'als Eigenname'
			| 'im Übergang zum Indefinitpronomen'
			| 'im Übergang zur Konjunktion'
			| 'im Übergang zur Präposition'
		)
	} *
	, element Artikelpraeferenz { # TODO: rename: Artikelwortpraeferenz
		attribute class { 'invisible' } ? # Why do we even need this?
		, Frequenzbeschraenkung ?
		, (
			'ohne Artikel'
			| 'mit bestimmtem Artikel'
			| 'mit unbestimmtem Artikel'
			| xsd:token { pattern = '(auch )?mit .+pronomen' }
			| xsd:token { pattern = '(auch )?mit anderen Zahlwörtern' }
		)
	} *
	, element Einschraenkung {
		Frequenzbeschraenkung ?
		, formaler_Text
	} *
	, Kommentar ?
}






#####################################################################
# Spezifizierung und/oder Auswahl
# grammatischer Eigenschaften innerhalb von Lesarten
# – hier ist (fast) alles möglich, außer Wortklassenangaben
#####################################################################

freie_grammatische_Beschreibung = grammatische_Beschreibung  # TODO: constraints via Schematron

#####################################################################
# syntaktische Annotationen für Kollokationen
#####################################################################

syntaktische_Relationen = (
	'Stichwort_ist_Adjektivattribut_von'
	| 'Stichwort_ist_Adverbialbestimmung_von'
	| 'Stichwort_ist_Akkusativobjekt_von'
	| 'Stichwort_ist_Aktivsubjekt_von'
	| 'Stichwort_ist_Apposition'
	| 'Stichwort_ist_Dativobjekt_von'
	| 'Stichwort_ist_Genitivattribut_von'
	| 'Stichwort_ist_Genitivobjekt_von'
	| 'Stichwort_ist_in_Koordination_mit'
	| 'Stichwort_ist_in_Präpositionalgruppe/-objekt_zu'
	| 'Stichwort_ist_in_vergleichender_Wort-/Nominalgruppe_zu'
	| 'Stichwort_ist_partitive_Apposition'
	| 'Stichwort_ist_Passivsubjekt_von'
	| 'Stichwort_ist_Prädikativ_von'
	| 'Stichwort_ist_Präpositionalattribut_von'
	| 'Stichwort_ist_Präpositionalobjekt_von'
	| 'Stichwort_ist_Präposition_zu'
	| 'Stichwort_ist_Subjekt_von_(Aktiv/Passiv)'
	| 'Stichwort_hat_Adjektivattribut'
	| 'Stichwort_hat_Adverbialbestimmung'
	| 'Stichwort_hat_Akkusativobjekt'
	| 'Stichwort_hat_Aktivsubjekt'
	| 'Stichwort_hat_Apposition'
	| 'Stichwort_hat_Dativobjekt'
	| 'Stichwort_hat_Genitiv-/Akkusativ-/Dativobjekt'
	| 'Stichwort_hat_Genitivattribut'
	| 'Stichwort_hat_partitive_Apposition'
	| 'Stichwort_hat_Passivsubjekt'
	| 'Stichwort_hat_Prädikativ'
	| 'Stichwort_hat_Präpositionalgruppe/-objekt_mit'
	| 'Stichwort_hat_Subjekt_(Aktiv/Passiv)'
	| 'Stichwort_hat_Verbzusatz'
	| 'Stichwort_hat_vergleichende_Wort-/Nominalgruppe_mit'
)
