oxygen/framework/rnc/Grammar.rnc

default namespace = 'http://www.dwds.de/ns/1.0'
namespace sch = 'http://purl.oclc.org/dsdl/schematron'

#####################################################################
# wortklassenspezifische Grammatik-Gruppe auf Artikel-Ebene
#####################################################################

[
  sch:pattern [
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Substantiv']][not(d:Numeruspraeferenz[text() = 'nur im Singular'])][not(d:Numeruspraeferenz[text() = 'nur im Plural'])]"
      sch:assert [
        test = "d:Genus"
        'Fehlende Genusangabe ergänzen!'
      ]
      sch:assert [
        test = "d:Genitiv"
        'Fehlende Eckform(en) Genitiv/Singular ergänzen!'
      ]
      sch:assert [
        test = "d:Plural"
        'Fehlende Eckform(en) Nominativ/Plural ergänzen!'
      ]
    ]
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Substantiv']][d:Numeruspraeferenz[text() = 'nur im Plural']]"
      sch:assert [
        test = "not(d:Genus) and not(d:Genitiv) and not(d:Plural)"
        'Eckformen und/oder Genus entfernen (Pluraletantum)!'
      ]
    ]
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Substantiv']][d:Numeruspraeferenz[text() = 'nur im Singular']]"
      sch:assert [
        test = "d:Genus"
        'Fehlende Genusangabe ergänzen!'
      ]
      sch:assert [
        test = "d:Genitiv"
        'Fehlende Eckform(en) Genitiv/Singular ergänzen!'
      ]
      sch:assert [
        test = "not(d:Plural)"
        'Eckform Nominativ/Plural entfernen (Singularetantum)!'
      ]
    ]
    sch:rule [
      context = "//d:Formangabe/d:Grammatik[d:Wortklasse[text() = 'Verb']]"
      sch:assert [
        test = "d:Praesens and d:Praeteritum and d:Auxiliar and d:Partizip_II"
        'Fehlende Flexionsangabe(n) (Präsens, Präteritum, Auxiliar, Partizip II)'
      ]
    ]
  ]
]

grammatische_Beschreibung = element Grammatik {
	Metadaten.allgemein ?
	, attribute Originaltext { token } ? # for Duden99 compatibility, deprecated
    	, element Wortklasse {
	    	attribute class { 'invisible' } ?
		, attribute Typ {  # TODO: this belongs to word formation, actually
			'deadjektivisch' | 'deverbal'
		} ?
		, (
			''
			| string 'Substantiv'
			| string 'Eigenname'
	    		| string 'Verb'
			| string 'Imperativ'
			| string 'Adjektiv'
			| string 'Adverb'
			| string 'partizipiales Adjektiv'
			| string 'partizipiales Adverb'
			| string 'Komparativ'
			| string 'Superlativ'
			| string 'Pronominaladverb'
			| string 'Präposition'
			| string 'Präposition + Artikel'
			| string 'bestimmter Artikel'
			| string 'unbestimmter Artikel'
			| string 'Konjunktion'
			| string 'Kardinalzahl'
			| string 'Ordinalzahl'
			| string 'Bruchzahl'
			| string 'Pronomen'
			| string 'Demonstrativpronomen'
			| string 'Indefinitpronomen'
			| string 'Interrogativpronomen'
			| string 'Personalpronomen'
			| string 'Possessivpronomen'
			| string 'Reflexivpronomen'
			| string 'Relativpronomen'
			| string 'reziprokes Pronomen'
			| string 'Interjektion'
			| string 'Affix'
			| string 'Mehrwortausdruck'
			| string 'Partikel'
		)
	} ?
	, element indeklinabel { empty } ? # TODO: Wortklasse/@Typ?
	, element reflexiv { empty } ? # TODO: Wortklasse/@Typ?
	, element Genus { 'mask.' | 'fem.' | 'neutr.' } *
	# #################
	# Substantive #####
	# #################
	, element Genitiv {
		Frequenzbeschraenkung ?
		, (
			# Flexionsendungen
			'-'
			| '-en'
			| '-ens'
			| '-es'
			| '-n'
			| '-ns'
			| '-s'
			| '-ses'
			# Kombinationsformen (mit fakultativen Elementen)
			| '-(e)n'
			| '-(e)s'
			| '-(n)'
			| '-(s)'
			# Vollformen
			| xsd:token { pattern = '\p{Lu}[\p{Ll}\p{Nd} \-’₀₂]+\p{Ll}' }
			# »Voll«-Formen von Affix(oid)en
			| xsd:token { pattern = '\-(anden|chens|ei|els|elei|erei|erls|ers|fabrik|fritzen|hai\(e\)s|in|heinis|hubers|ik|iers|ins|isten|itis|keit|kunde|leins|lers|les|lings|ls|lyse|meters|nauten|nis|nisses|onkels|ose|schwein\(e\)|silos|tums|tumes|ung|verschnitt\(e\)s|werke?s|wesens)' }
		)
	} *
	, element Plural {
		Frequenzbeschraenkung ?
		, (
			# Flexionsendungen
			'-'
			| '-a'
			| '-e'
			| '-een'
			| '-en'
			| '-er'
			| '-es'
			| '-i'
			| '-ien'
			| '-nen'
			| '-n'
			| '-ns'
			| '-s'
			| '-se'
			| '-sen'
			| '-ta'
			| '-ten'
			# Kombinationsformen (mit fakultativen Elementen)
			| '-e(n)'
			| '-(e)s'
			| '-(n)'
			| '-(s)'
			# Vollformen
			| xsd:token { pattern = '(\p{Lu}[\p{L}\p{Nd} \-’₀₂]+\p{Ll}|-itiden)' }
			# »Voll«-Formen von Affix(oid)en
			| xsd:token { pattern = '\-(anden|chen|eien|el|eleien|ereien|erl|fabriken|fritzen|haie|innen|heinis|huber|ier|iere|iers|iken|ine|isten|itiden|keiten|kunde|l|le|lein|ler|linge|lysen|meter|nauten|nisse|onkels|osen|schweine|silos|tümer|ungen|verschnitte|werke|wesens)' }
        	)
	} *
	# ###############
	# Verben #######
	# ###############
	# Achtung: in einigen Gruppen nur \p{L} statt \p{Ll} wg. /Hohn lachen/ usw.
	# TODO: refactor verbal prefixes + tense specific excepions
	, element reflexiv { empty } ? # TODO: Wortklasse/@Typ
	, (
		element Praesens {
			xsd:token { pattern = '\p{Ll}+( sich)?( (ab|abhanden|acht|an|aneinander|anheim|auf|aufeinander|aus|auseinander|bankrott|bei(einander|sammen|seite)?|bekannt|bereit|besser|blank|blau|breit|da(heim|her|hin|neben|rauf|rüber|von|zu|zwischen)|dar(nieder)?|dicht|down|dran|drauf|drin|durch(einander)?|ein|einher|empor|ent(gegen|lang)|ernst|fahren|fehl|feil|fern|fest|flach|fort|frei|frisch|fürlieb|gegen(einander|über)?|ge?rade|gern|glatt|groß|gut|halt|her(ab|an|auf|aus|bei|ein|nieder|über|um|unter|vor)?|hin(ab|auf|aus|durch|ein|unter|über|unter|weg|zu)?|hintan|hinter(her|drein)?|hoch|instand|in Stand|kahl|kalt|klein|krank|lang|laut|leer|leid|lieb|los|maß|matt|mies|mit( ein)?|nach|nahe|neben(einander|her)|neu|nieder|not|ob|offen|parallel|platt|pleite|quer|ran|rauf|raus|rein|rüber|rück|rum|rund|runter|sauber|scharf|schlau|schlecht|schön|schwarz|stark|steif|tief(er)?|tot|trocken|über|überein|überhand|um(hin|her)?|unter|verloren|verschütt|voll|vor(an|auf|aus|bei|her|lieb|über|wärts|weg)?|wach|wahr|warm|weg|weh|weich|weiter|wert|wichtig|wieder|wieder (ab|an|auf|ein|gut|her)|weiter|wider|wohl|wund|zu|zueinander|zunichte|zupasse?|zurecht|zurück|zusammen|zustatten|zwischen|\p{Lu}\p{Ll}+))?|e-mailt' }
			, Rechtschreibstatus ?
		} +
		, element Praeteritum {
		xsd:token { pattern = '\p{Ll}+( sich)?( (ab|abhanden|acht|an|aneinander|anheim|auf|aufeinander|aus|auseinander|bankrott|bei(einander|sammen|seite)?|bekannt|bereit|besser|blank|blau|breit|da(heim|her|hin|neben|rauf|rüber|von|zu|zwischen)|dar(nieder)?|dicht|down|dran|drauf|drin|durch(einander)?|ein|einher|empor|ent(gegen|lang)|ernst|fahren|fehl|feil|fern|fest|flach|fort|frei|frisch|fürlieb|gegen(einander|über)?|ge?rade|gern|glatt|groß|gut|halt|her(ab|an|auf|aus|bei|ein|nieder|über|um|unter|vor)?|hin(ab|auf|aus|durch|ein|unter|über|unter|weg|zu)?|hintan|hinter(her|drein)?|hoch|instand|in Stand|kahl|kalt|klein|krank|lang|laut|leer|leid|lieb|los|maß|matt|mies|mit( ein)?|nach|nahe|neben(einander|her)|neu|nieder|not|ob|offen|parallel|platt|pleite|quer|ran|rauf|raus|rein|rüber|rück|rum|rund|runter|sauber|scharf|schlau|schlecht|schön|schwarz|stark|steif|tief(er)?|trocken|tot|über|überein|überhand|um(hin|her)?|unter|verloren|verschütt|voll|vor(an|auf|aus|bei|her|lieb|über|wärts|weg)?|wach|wahr|warm|weg|weh|weich|weiter|wert|wichtig|wieder|wieder (ab|an|auf|ein|gut|her)|weiter|wider|wohl|wund|zu|zueinander|zunichte|zupasse?|zurecht|zurück|zusammen|zustatten|zwischen|\p{Lu}\p{Ll}+))?|e-mailte|lachte Hohn' }
			, Rechtschreibstatus ?
		} +
	) ?
	, element Auxiliar {
		Frequenzbeschraenkung ?
		, ( 'ist' | 'hat' )
	} *
	
	# TODO: sollte nur einmal auftreten, da sonst zwei Paradigmen vermischt sind?
	# TODO: »wieder« ist scheint auf einen Ansetzfehler zurückzugehen (Phrase statt Lexem?)
	# TODO: »lassen, gelassen«: neue Rechtschreibung so?
	# note: die Gruppe am Anfang des ersten Ausdrucks steht wg. neuer Rechtschreibvarianten
	# note: der zweite Ausdruck steht wg. neuer Rechtschreibung für »ab sein« usw.
	, element Partizip_II {
		xsd:token { pattern = '(((Acht|Auto|bekannt|blank|blau|bloß|breit|Brust|Delfin|Delphin|dicht|dick|dünn|ernst|Fahrrad|fein|fertig|fest|frei|ge?rade|Gewähr|glatt|groß|gut|Halt|hart|heiß|Hohn|instand|in Stand|kahl|kalt|kaputt|klein|krank|krumm|kurz|lang|leer|locker|Maß|Motorrad|offen|parallel|platt|Rad|rein|richtig|Rücken|ruhig|sauber|scharf|schief|schlank|schön|Staub|steif|straff|stramm|tief|tot|trocken|übrig|wach|warm|weich|weiß|wieder|wohl|wund|zueinander) )?\p{Ll}+)|((ab|auf|aus|durch|hinterher|um|zu) gewesen)|\p{Ll}+ (lassen|gelassen)|ge-e-mailt' }
		, Rechtschreibstatus ?
	} *
	# ##################
	# Adjektive #######
	# ##################
	# -e- bzw. -s- sind optional für Komparativ bzw. Superlativ
	# wegen Fällen wie /mehr/ und /am größten/
	, element Komparativ { xsd:token { pattern = '(\p{Ll}+\-)?\p{Ll}+e?r|(besser|freier|länger|leichter|näher|tiefer|schwerer|weiter) ?\p{Ll}+(t|nd)' } } *
	, element Superlativ { xsd:token { pattern = 'am ((\p{Ll}+\-)?\p{Ll}+s?ten|(besten|freiesten|längsten|leichtesten|nächsten|tiefsten|schwersten|weitesten) \p{Ll}+(t|nd))|nächst\p{Ll}+|(best|tiefst)\p{Ll}+nd' } } *
	, element Komparationspraeferenz {
		'ohne Steigerung'
		| 'Steigerung selten'
		| 'ohne Komparativ'
		| 'meist im Superlativ'
		| 'nur im Superlativ'
		| 'Komparativ selten'
		| 'Komparativ ungebräuchlich'
		| 'Superlativ selten'
		| 'Superlativ ungebräuchlich'
	} *
	, element Kasuspraeferenz {
		Frequenzbeschraenkung ?
		, (
			'mit Genitiv' | 'im Genitiv'
			| 'mit Dativ' | 'im Dativ' | 'mit Dativ Plural'
			| 'mit Akkusativ' | 'im Akkusativ'
			| 'im Nominativ'
		)
	} *
	, element Numeruspraeferenz {
		attribute class { 'invisible' } ? # Why do we even need this?
		, (
			'nur im Plural'
			| 'meist im Plural'
			| 'Singular selten'
			| 'Singular ungebräuchlich'
			| 'Plural ungebräuchlich'
			| 'Plural selten'
			| 'meist im Singular'
			| 'nur im Singular'
		)
	} ?
	, element Funktionspraeferenz {
		Frequenzbeschraenkung ?
		, (
			'Sonderfunktionen'
			| 'zeitlich' | 'steht oft zeitlichem Gebrauch nahe'
			| 'räumlich'
			| 'kausal' 
			| 'konjunktional'
			| 'relativ'
			| 'modal' | 'ist eng mit der modalen Verwendung verbunden'
			| 'in Verbindung mit Modalverben' # MWA
			| 'konditional'
			| 'interrogativ'
			| 'instrumental'
			| 'attributiv'
			| 'prädikativ'
			| 'adverbiell'
			| 'adjektivisch'
			| 'verbal'
			| 'präpositional'
			| 'konjunktional'
			| 'substantivisch' | 'nominal'
			| 'pronominal'
			| 'partikelhaft'
			| 'als Ausruf' | 'steht einem Ausruf nahe' # TODO: prag?
			| 'als Interrogativpronomen'
			| 'als Indefinitpronomen'
			| 'als Kardinalzahl'
			| 'als unbestimmter Artikel'
			| 'als Relativpronomen'
			| 'als Genitivattribut'
			| 'im Übergang zum Indefinitpronomen'
			| 'im Übergang zur Konjunktion'
			| 'im Übergang zur Präposition'
		)
	} *
	, element Artikelpraeferenz { # TODO: rename: Artikelwortpraeferenz
		attribute class { 'invisible' } ? # Why do we even need this?
		, Frequenzbeschraenkung ?
		, (
			'ohne Artikel'
			| 'mit bestimmtem Artikel'
			| 'mit unbestimmtem Artikel'
			| xsd:token { pattern = '(auch )?mit .+pronomen' }
			| xsd:token { pattern = '(auch )?mit anderen Zahlwörtern' }
		)
	} *
	, element Einschraenkung {
		Frequenzbeschraenkung ?
		, formaler_Text
	} *
	, Kommentar ?
}






#####################################################################
# Spezifizierung und/oder Auswahl
# grammatischer Eigenschaften innerhalb von Lesarten
# – hier ist (fast) alles möglich, außer Wortklassenangaben
#####################################################################

freie_grammatische_Beschreibung = grammatische_Beschreibung  # TODO: constraints via Schematron

#####################################################################
# syntaktische Annotationen für Kollokationen
#####################################################################

syntaktische_Relationen = (
        'Stichwort_ist_Adjektivattribut_von'
        | 'Stichwort_ist_Adverbialbestimmung_von'
        | 'Stichwort_ist_Akkusativobjekt_von'
        | 'Stichwort_ist_Aktivsubjekt_von'
        | 'Stichwort_ist_Apposition'
        | 'Stichwort_ist_Dativobjekt_von'
        | 'Stichwort_ist_Genitiv-/Akkusativ-/Dativobjekt_von' # TODO: remove
        | 'Stichwort_ist_Genitivattribut_von'
        | 'Stichwort_ist_Genitivobjekt_von'
        | 'Stichwort_ist_in_Koordination_mit'
        | 'Stichwort_ist_in_Präpositionalgruppe/-objekt_zu'
        | 'Stichwort_ist_in_vergleichender_Wort-/Nominalgruppe_zu'
	| 'Stichwort_ist_partitive_Apposition'
        | 'Stichwort_ist_Passivsubjekt_von'
        | 'Stichwort_ist_Prädikativ_von'
	| 'Stichwort_ist_Präpositionalattribut_von'
	| 'Stichwort_ist_Präpositionalobjekt_von'
	| 'Stichwort_ist_Präposition_zu'
        | 'Stichwort_ist_Subjekt_von_(Aktiv/Passiv)'
	| 'Stichwort_hat_Adjektivattribut'
        | 'Stichwort_hat_Adverbialbestimmung'
        | 'Stichwort_hat_Akkusativobjekt'
        | 'Stichwort_hat_Aktivsubjekt'
        | 'Stichwort_hat_Apposition'
        | 'Stichwort_hat_Dativobjekt'
        | 'Stichwort_hat_Genitiv-/Akkusativ-/Dativobjekt'
        | 'Stichwort_hat_Genitivattribut'
        | 'Stichwort_hat_Passivsubjekt'
        | 'Stichwort_hat_Prädikativ'
        | 'Stichwort_hat_Präpositionalgruppe/-objekt_mit'
        | 'Stichwort_hat_Subjekt_(Aktiv/Passiv)'
        | 'Stichwort_hat_Verbzusatz'
        | 'Stichwort_hat_vergleichende_Wort-/Nominalgruppe_mit'
)
