oxygen/framework/rnc/Grammar.rnc

#####################################################################
# wortklassenspezifische Grammatik-Gruppe auf Artikel-Ebene
#####################################################################

grammatische_Beschreibung = element Grammatik {
	Metadaten.allgemein ?
	, attribute Originaltext { token } ? # for Duden99 compatibility, deprecated
    	, element Wortklasse {
	    	attribute class { 'invisible' } ?
		, attribute Typ {  # TODO: this belongs to word formation, actually
			'deadjektivisch' | 'deverbal'
		} ?
		, (
			''
			| 'Substantiv' | 'Eigenname'
	    		| 'Verb' | 'Imperativ'
			| 'Adjektiv' | 'Adverb' | 'partizipiales Adjektiv' | 'partizipiales Adverb' | 'Komparativ' | 'Superlativ'
			| 'Pronominaladverb'
			| 'Präposition'
			| 'bestimmter Artikel' | 'unbestimmter Artikel'
			| 'Konjunktion'
			| 'Kardinalzahl' | 'Ordinalzahl' | 'Bruchzahl'
			| 'Pronomen' | 'Demonstrativpronomen' | 'Indefinitpronomen' | 'Interrogativpronomen' | 'Personalpronomen' | 'Possessivpronomen' | 'Reflexivpronomen' | 'Relativpronomen' | 'reziprokes Pronomen'
			| 'Ausruf'
			| 'Affix'
			| 'Mehrwortausdruck'
		)
	} ?
	, element indeklinabel { empty } ? # TODO: Wortklasse/@Typ?
	, element reflexiv { empty } ? # TODO: Wortklasse/@Typ?
	, element Genus { 'mask.' | 'fem.' | 'neutr.' } *
	# #################
	# Substantive #####
	# #################
	, element Genitiv {
		Frequenzbeschraenkung ?
		, (
			# Flexionsendungen
			'-'
			| '-en'
			| '-ens'
			| '-es'
			| '-n'
			| '-ns'
			| '-s'
			| '-ses'
			# Kombinationsformen (mit fakultativen Elementen)
			| '-(e)n'
			| '-(e)s'
			| '-(n)'
			| '-(s)'
			# Vollformen
			| xsd:token { pattern = '\p{Lu}[\p{Ll}\p{Nd} \-ʼ]+\p{Ll}' }
		)
	} *
	, element Plural {
		Frequenzbeschraenkung ?
		, (
			# Flexionsendungen
			'-'
			| '-a'
			| '-e'
			| '-een'
			| '-en'
			| '-er'
			| '-es'
			| '-i'
			| '-ien'
			| '-nen'
			| '-n'
			| '-ns'
			| '-s'
			| '-se'
			| '-sen'
			| '-ta'
			| '-ten'
			# Kombinationsformen (mit fakultativen Elementen)
			| '-e(n)'
			| '-(e)s'
			| '-(n)'
			| '-(s)'
			# Vollformen
			| xsd:token { pattern = '\p{Lu}[\p{L}\p{Nd} \-ʼ]+\p{Ll}' }
        	)
	} *
	# ###############
	# Verben #######
	# ###############
	# Achtung: in einigen Gruppen nur \p{L} statt \p{Ll} wg. /Hohn lachen/ usw.
	, element reflexiv { empty } ? # TODO: Wortklasse/@Typ
	, (
		element Praesens {
			xsd:token { pattern = '\p{Ll}+( sich)?( (ab|abhanden|acht|an|aneinander|auf|aufeinander|aus|auseinander|bei|beieinander|beisammen|beiseite|bekannt|besser|blank|breit|da(heim|her|hin|neben|rauf|rüber|von|zu)|dar|dran|drauf|drin|dicht|durch|ein|einher|empor|ent(gegen|lang)|ernst|fahren|fehl|fern|fest|fort|frei|fürlieb|gegen|gegeneinander|groß|gut|halt|her(ab|an|auf|aus|bei|ein|nieder|über|um|unter|vor)?|hin(ab|auf|aus|ein|unter|über|unter|zu)?|hinter(her|drein)?|hoch|instand|in Stand|kalt|klein|krank|leid|los|maß|mit|nach|nebenher|nieder|ob|offen|parallel|ran|rauf|raus|rein|rüber|rum|runter|schlau|schlecht|schön|tief(er)?|trocken|über|überein|überhand|um(hin|her)?|unter|verloren|verschütt|vor(auf|aus|bei|her|lieb|über|wärts|weg)?|wach|wahr|warm|weg|weich|weiter|wieder|wieder (ab|an|auf|ein|gut|her)|weiter|wider|wohl|zu|zueinander|zunichte|zurück|zusammen|zwischen|\p{Lu}\p{Ll}+))?|e-mailt' }
			, Rechtschreibstatus ?
		} +
		, element Praeteritum {
			xsd:token { pattern = '\p{Ll}+( sich)?( (ab|abhanden|acht|an|aneinander|auf|aufeinander|aus|auseinander|bei|beieinander|beisammen|beiseite|bekannt|besser|blank|breit|da(heim|her|hin|neben|rauf|rüber|von|zu)|dar|dran|drauf|drin|dicht|durch|ein|einher|empor|ent(gegen|lang)|ernst|fahren|fehl|fern|fest|fort|frei|fürlieb|gegen|gegeneinander|groß|gut|halt|her(ab|an|auf|aus|bei|ein|nieder|über|um|unter|vor)?|hin(ab|auf|aus|ein|unter|über|unter|zu)?|hinter(her|drein)?|hoch|instand|in Stand|kalt|klein|krank|leid|los|maß|mit|nach|nebenher|nieder|ob|offen|parallel|ran|rauf|raus|rein|rüber|rum|runter|schlau|schlecht|schön|tief(er)?|trocken|über|überein|überhand|um(hin|her)?|unter|verloren|verschütt|vor(auf|aus|bei|her|lieb|über|wärts|weg)?|wach|wahr|warm|weg|weich|weiter|wieder|wieder (ab|an|auf|ein|gut|her)|weiter|wider|wohl|zu|zueinander|zunichte|zurück|zusammen|zwischen|\p{Lu}\p{Ll}+))?|e-mailte|lachte Hohn' }
			, Rechtschreibstatus ?
		} +
	) ?
	, element Auxiliar {
		Frequenzbeschraenkung ?
		, ( 'ist' | 'hat' )
	} *
	
	# TODO: sollte nur einmal auftreten, da sonst zwei Paradigmen vermischt sind?
	# TODO: »wieder« ist scheint auf einen Ansetzfehler zurückzugehen (Phrase statt Lexem?)
	# TODO: »lassen, gelassen«: neue Rechtschreibung so?
	# note: die Gruppe am Anfang des ersten Ausdrucks steht wg. neuer Rechtschreibvarianten
	# note: der zweite Ausdruck steht wg. neuer Rechtschreibung für »ab sein« usw.
	, element Partizip_II {
		xsd:token { pattern = '(((Acht|Auto|bekannt|blank|breit|Brust|dicht|Delfin|Delphin|ernst|Fahrrad|Gewähr|gut|Halt|Hohn|instand|in Stand|kalt|Maß|Motorrad|parallel|Rad|Rücken|Staub|trocken|wach|weich|wieder|wohl|zueinander) )?\p{Ll}+)|((ab|auf|aus|durch|um|zu) gewesen)|\p{Ll}+ (lassen|gelassen)|ge-e-mailt' }
		, Rechtschreibstatus ?
	} *
	# ##################
	# Adjektive #######
	# ##################
	# -e- bzw. -s- sind optional für Komparativ bzw. Superlativ
	# wegen Fällen wie /mehr/ und /am größten/
	, element Komparativ { xsd:token { pattern = '(\p{Ll}+\-)?\p{Ll}+e?r|(besser|länger|leichter|näher|tiefer|schwerer|weiter) ?\p{Ll}+(t|nd)' } } *
	, element Superlativ { xsd:token { pattern = 'am ((\p{Ll}+\-)?\p{Ll}+s?ten|(besten|längsten|leichtesten|nächsten|tiefsten|schwersten|weitesten) \p{Ll}+(t|nd))|nächst\p{Ll}+|(best|tiefst)\p{Ll}+nd' } } *
	, element Komparationspraeferenz {
		'ohne Steigerung'
		| 'Steigerung selten'
		| 'ohne Komparativ'
		| 'meist im Superlativ'
		| 'nur im Superlativ'
		| 'Komparativ selten'
		| 'Komparativ ungebräuchlich'
		| 'Superlativ selten'
		| 'Superlativ ungebräuchlich'
	} *
	, element Kasuspraeferenz {
		Frequenzbeschraenkung ?
		, (
			'mit Genitiv' | 'im Genitiv'
			| 'mit Dativ' | 'im Dativ' | 'mit Dativ Plural'
			| 'mit Akkusativ' | 'im Akkusativ'
			| 'im Nominativ'
		)
	} *
	, element Numeruspraeferenz {
		attribute class { 'invisible' } ? # Why do we even need this?
		, (
			'nur im Plural'
			| 'meist im Plural'
			| 'Singular selten'
			| 'Singular ungebräuchlich'
			| 'Plural ungebräuchlich'
			| 'Plural selten'
			| 'meist im Singular'
			| 'nur im Singular'
		)
	} ?
	, element Funktionspraeferenz {
		Frequenzbeschraenkung ?
		, (
			'Sonderfunktionen'
			| 'zeitlich' | 'steht oft zeitlichem Gebrauch nahe'
			| 'räumlich'
			| 'kausal' 
			| 'konjunktional'
			| 'relativ'
			| 'modal' | 'ist eng mit der modalen Verwendung verbunden'
			| 'konditional'
			| 'interrogativ'
			| 'instrumental'
			| 'attributiv'
			| 'prädikativ'
			| 'adverbiell'
			| 'adjektivisch'
			| 'verbal'
			| 'präpositional'
			| 'konjunktional'
			| 'substantivisch' | 'nominal'
			| 'pronominal'
			| 'partikelhaft'
			| 'als Ausruf' | 'steht einem Ausruf nahe' # TODO: prag?
			| 'als Interrogativpronomen'
			| 'als Indefinitpronomen'
			| 'als Kardinalzahl'
			| 'als unbestimmter Artikel'
			| 'als Relativpronomen'
			| 'als Genitivattribut'
			| 'im Übergang zum Indefinitpronomen'
			| 'im Übergang zur Konjunktion'
			| 'im Übergang zur Präposition'
		)
	} *
	, element Artikelpraeferenz {
		attribute class { 'invisible' } ? # Why do we even need this?
		, Frequenzbeschraenkung ?
		, (
			'ohne Artikel'
			| 'mit bestimmtem Artikel'
			| 'mit unbestimmtem Artikel'
		)
	} ?
	, element Akzent { # TODO: --> Einschraenkung?
		xsd:token { pattern = '((stets|meist) )?(un)?betont' }
		| 'in unbetonter Stellung' 
		| 'in fragendem Ton'
		| 'steht im Satz gewöhnlich in unbetonter Stellung'
		| 'in fragendem Ton' | 'kann betont sein'
		| 'mit Hauptton im Satz'
		| 'stets unbetont bei Verben und deren Ableitungen'
		| 'kann bei Vorhandensein eines Gegensatzwortes den Hauptton tragen'
		| 'kann je nach Zusammenhang und Stellung im Satz den Hauptton tragen'
		| 'kann, wenn kein Akzent angegeben ist, je nach Zusammenhang und Stellung im Satz den Hauptton tragen'
		| 'trägt nur dann den angegebenen Hauptton, wenn beim Grundwort kein Akzent steht'
		| 'trägt meist den Hauptton des Satzes'
		| 'trägt im Satz nie den Hauptton'
		| 'trägt den angegebenen Hauptton, wenn beim Grundwort kein Akzent steht'
		| 'unbetont, wenn mit einem trennbaren Verb verbunden'
		| 'der Ton liegt auf ›unter‹'
		| 'der Ton liegt auf ›von‹'
		| 'der Ton liegt auf ›vor‹'
	} ?
	, element Einschraenkung {
		Frequenzbeschraenkung ?
		, formaler_Text
	} *
	, element FlexionsklasseSingular {
		'none' | '1' | '1a' | '2' | '3' | '4' | '5' | '5a' | '6'
	} *
	, element FlexionsklassePlural {
		'none' | '1' | '2' | '3' | '4' | '4a' | '4b' | '5' | '6' | '7' | '7a' | '8' | '9'
	} *
	, Kommentar ?
}






#####################################################################
# Spezifizierung und/oder Auswahl
# grammatischer Eigenschaften innerhalb von Lesarten
# – hier ist (fast) alles möglich, außer Wortklassenangaben
#####################################################################

freie_grammatische_Beschreibung = grammatische_Beschreibung  # TODO: constraints via Schematron

#####################################################################
# syntaktische Annotationen für Kollokationen
#####################################################################

syntaktische_Relationen = (
        'Stichwort_ist_Adjektivattribut_von'
        | 'Stichwort_ist_Adverbialbestimmung_von'
        | 'Stichwort_ist_Akkusativobjekt_von'
        | 'Stichwort_ist_Aktivsubjekt_von'
        | 'Stichwort_ist_Dativobjekt_von'
        | 'Stichwort_ist_Genitiv-/Akkusativ-/Dativobjekt_von'
        | 'Stichwort_ist_Genitivattribut_von'
        | 'Stichwort_ist_in_Koordination_mit'
        | 'Stichwort_ist_in_Präpositionalgruppe/-objekt_zu'
        | 'Stichwort_ist_in_vergleichender_Wort-/Nominalgruppe_zu'
	| 'Stichwort_ist_partitive_Apposition'
        | 'Stichwort_ist_Passivsubjekt_von'
        | 'Stichwort_ist_Prädikativ_von'
	| 'Stichwort_ist_Präpositionalattribut_von'
	| 'Stichwort_ist_Präpositionalobjekt_von'
	| 'Stichwort_ist_Präposition_zu'
        | 'Stichwort_ist_Subjekt_von_(Aktiv/Passiv)'
	| 'Stichwort_hat_Adjektivattribut'
        | 'Stichwort_hat_Adverbialbestimmung'
        | 'Stichwort_hat_Akkusativobjekt'
        | 'Stichwort_hat_Aktivsubjekt'
        | 'Stichwort_hat_Dativobjekt'
        | 'Stichwort_hat_Genitiv-/Akkusativ-/Dativobjekt'
        | 'Stichwort_hat_Genitivattribut'
        | 'Stichwort_hat_Passivsubjekt'
        | 'Stichwort_hat_Prädikativ'
        | 'Stichwort_hat_Präpositionalgruppe/-objekt_mit'
        | 'Stichwort_hat_Subjekt_(Aktiv/Passiv)'
        | 'Stichwort_hat_Verbzusatz'
        | 'Stichwort_hat_vergleichende_Wort-/Nominalgruppe_mit'
)
